<div class="container-fluid bg-light py-1 d-none d-lg-block">
    <div class="container d-flex justify-content-center justify-content-lg-end small text-muted flex-wrap">
      <a href="#" class="text-decoration-none me-2" style="color: black;">Blogs</a> |&nbsp;
      <span class="me-2">Media</span> |&nbsp;
      <span class="me-2">Patient Care</span> |&nbsp;
      <span>24/7 APPOINTMENT HELPLINE : <span class="fw-bold text-primary"><a href="tel:888 0101 000"> 888 0101 000</a></span></span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 px-lg-5 py-3 py-lg-0 sticky-top">
    <div class="container py-2">
      <img src="assets/images/logo.png" alt="OMNI Hospitals">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav gap-3">
          <li class="nav-item"><a class="nav-link text_black" href="">Home</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="../about-us/">About Us</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Find a Doctor</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Our Specialities</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Our Branches</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Book an Appointment</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Careers</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Blogs</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Media</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Patient Care</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Careers</a></li>
        </ul>
      </div>
    </div>
  </nav>