<div class="container-fluid bg-light py-1 d-none d-lg-block">
    <div class="container d-flex justify-content-center justify-content-lg-end small text-muted flex-wrap">
      <a href="#" class="text-decoration-none me-2" style="color: black;">Blogs</a> |&nbsp;
      <span class="me-2">Media</span> |&nbsp;
      <span class="me-2">Patient Care</span> |&nbsp;
      <span>24/7 APPOINTMENT HELPLINE : <span class="fw-bold text-primary"><a href="tel:888 0101 000"> 888 0101 000</a></span></span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4 px-lg-5 py-3 py-lg-0 sticky-top">
    <div class="container py-2">
      <img src="assets/images/logo.png" alt="OMNI Hospitals">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav gap-3">
          <li class="nav-item"><a class="nav-link text_black" href="">Home</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="../about-us/">About Us</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="../our-doctors/">Find a Doctor</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="../our-specialities/">Our Specialities</a></li>
          <li class="nav-item"><a class="nav-link text_black"  data-bs-toggle="modal"
            data-bs-target="#branchesModal">Our Branches</a></li>
          <li class="nav-item"><a class="nav-link text_black">Book an Appointment</a></li>
          <li class="nav-item"><a class="nav-link text_black" href="#">Careers</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Blogs</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Media</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Patient Care</a></li>
          <li class="nav-item d-lg-none"><a class="nav-link text_black" href="#">Careers</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <ng-container >
    <div class="modal fade" id="branchesModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="row pt-4">
          <div class="col-md-11 col-11 col-sm-10 col-xs-10 d-flex align-items-center justify-content-center">
            <div class="line line-left ms-5"></div>
            <div class="">
              <span class="title_text text-center px-2">Our Branches</span>
            </div>
            <div class="line line-right"></div>
          </div>
          <div class="col-md-1 col-1 d-flex col-sm-2 col-xs-2 align-items-center justify-content-start p-0 m-0">
            <button class="" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row g-3">
              <div class="col-6 col-md-4" *ngFor="let details of locations_details; index as l">
                <div class="text-center">
                  <img src="assets/locations/{{details['img']}}" alt="Kothapet">
                  <p class="border_prop py-2">{{details['location_name']}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-container>