.footer_bg{
    background:#8781811a;
    background-color: #a69d9d1a;
}
.sec_footer_bg{
    background-color: rgba(140, 198, 63, 1);
    background: rgba(140, 198, 63, 1);
    color: rgba(0, 0, 0, 1) !important;
}
.text_prm{
    color: rgba(15, 157, 204, 1);
}