.footer_bg{
    background:rgba(0, 143, 213, 1);
    background-color: rgba(0, 143, 213, 1);
}
.sec_footer_bg{
    background: rgba(140, 198, 63, 1);
    /* background: rgba(140, 198, 63, 1); */
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 500;
}
.text_prm{
    color: rgba(255, 255, 255, 1);
}
ul li{
    color: rgba(255, 255, 255, 1);
    font-family: 'roboto';
    font-weight: 500;
}
ul li a{
    text-decoration: none;
}