<footer class="footer_bg pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="assets/images/website_footer_logo.svg" alt="Footer Logo" class="img-fluid mb-2 mt-4" style="max-width: 150px;">
                <div class="d-flex justify-content-center gap-3">
                    <img src="assets/images/facebook_icon.svg" alt="Facebook" class="img-fluid" style="width: 24px; height: 24px;">
                    <img src="assets/images/twitter_icon.svg" alt="Twitter" class="img-fluid" style="width: 24px; height: 24px;">
                    <img src="assets/images/insta_icon.svg" alt="Instagram" class="img-fluid" style="width: 24px; height: 24px;">
                    <img src="assets/images/youtube_icon.svg" alt="YouTube" class="img-fluid" style="width: 24px; height: 24px;">
                    <img src="assets/images/linkedin_icon.svg" alt="LinkedIn" class="img-fluid" style="width: 24px; height: 24px;">
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="text_prm fw-bold mb-2">OUR HOSPITALS</h6>
                <ul class="list-unstyled mb-0 ps-3">
                    <li class="mb-1">• <a href="#" class="text-dark">OMNI Hospitals, Kukatpally</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark">UDAI OMNI Hospitals, Chapel Road</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark">OMNI Hospitals, Kothapet</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark">OMNI Hospitals, Vizag</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark">OMNI Hospitals, Kurnool</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark">Giggles by OMNI, Vizag</a></li>
                </ul>
            </div>
            <div class="col-md-4 ">
                <h6 class="text_prm fw-bold mb-2">PATIENT SERVICES</h6>
                <ul class="list-unstyled mb-0 ps-3">
                    <li class="mb-1">• <a href="#" class="text-dark ">Request an appointment</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark ">International Patients</a></li>
                    <li class="mb-1">• <a href="#" class="text-dark ">Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sec_footer_bg text-white py-2 mt-3">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center text-center">
            <span>2025 Incor Hospitals Pvt Ltd</span>
            <span>
                <a href="#" class="text-dark">Terms of Service</a> |
                <a href="#" class="text-dark">Privacy Policy</a> |
                <a href="#" class="text-dark">Disclaimer</a>
            </span>
        </div>
    </div>
</footer>

