.bg_blue{
  background-color: rgba(0, 143, 213, 0.05) !important;
  background: rgba(0, 143, 213, 0.05) !important;
}
.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 1rem 1.25rem;
}

h2 {
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.card-title{
  font-size: 16px;
  font-weight: 400;
  font-family: 'roboto';
  color: rgba(0, 0, 0, 1) !important;
}
.card-text{
  color: rgba(130, 130, 130, 1) !important;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
}
.date_txt{
  color: rgba(0, 0, 0, 1) !important;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
}
.read_txt{
  color: rgba(0, 0, 0, 1) !important;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
}