
<app-header></app-header>
<section class="bg_color">
  <div class="container py-5">
    <h2 class="text-center mb-4">
      <span class="border-bottom border-success border-3 pb-1 me-2"></span>
      BLOGS
      <span class="border-bottom border-primary border-3 pb-1 ms-2"></span>
    </h2>
  
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let blog of blogs">
        <div class="card h-100 shadow-sm rounded-4 overflow-hidden">
          <div class="position-relative">
            <img [src]="blog.image" class="card-img-top" alt="blog image">
            <div class="position-absolute w-100" style="height: 5px; bottom: 0; background: linear-gradient(to right, #8BC34A 50%, #2196F3 50%);"></div>
          </div>
          <div class="card-body" (click)="goToBlogDetails(blog['title'])">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text m-0">{{ blog.description }}</p>
            <p class="text-dark fw-medium mt-0 date_txt m-0 mt-1">{{ blog.date }}</p>
            <a [href]="blog.link" class="text-decoration-none m-0 read_txt">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <app-footer></app-footer>