.bg_color{
background-color: rgba(0, 143, 213, 0.05);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h6 {
  font-size: 1rem;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}
.doctor-card {
    border: 1px solid #cfd9e0;
    border-radius: 15px;
  }
  
  .doctor-list-container {
    max-height: 850px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-right: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .txt{
    color: rgba(102, 102, 102, 1);
    font-family: 'Roboto';
    font-weight: 400;
  }
  .book_btn{
    font-size:13px; 
    color: rgba(102, 102, 102, 1); 
    font-weight: 700; font-family: 'Roboto';
    border: 1px solid rgba(102, 102, 102, 1); 
    /* background-color: rgba(140, 198, 63, 1); */
  }

  .book_btn:hover{
    font-size:13px; 
    color: rgba(255, 255, 255, 1); 
    font-weight: 700; font-family: 'Roboto'; 
    background-color: rgba(140, 198, 63, 1);
    border: 1px solid rgba(140, 198, 63, 1); 
  }
  .border_end{
    border-right: 1px solid gray;
  }