<app-header></app-header>
<section class="bg-white">
    <div class="">
        <div class=" p-5">
            <div class="row justify-content-center bg_color p-5">
              <div *ngFor="let specialty of specialties" class="col-12 col-sm-6 col-md-2 col-lg-2 mt-4">
                <div class="card specialty-card d-flex flex-column align-items-center justify-content-center py-5" (click)="goToDetails(specialty['id'], specialty['name'])">
                  <img [src]="specialty.icon" 
                       [alt]="specialty.name" 
                       class="icon-img default-icon">
                  <img [src]="specialty.blue_icon" 
                       [alt]="specialty.name" 
                       class="icon-img hover-icon">
                  <p class="specialty-name text-center px-2">{{ specialty.name }}</p>
                </div>
              </div>              
            </div>
        </div>
      </div>
</section>
  <app-footer></app-footer>