<app-header></app-header>
<header class="container-fluid p-0">
        <img
          src="https://s3-alpha-sig.figma.com/img/1635/9a09/f48a754aa84e7cd8ba1fd95ed9b1f6d6?Expires=1745193600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=WEoJUC-8LrBzKAeB7BTJLEQ1t24J2vDsnklRJiUZcJQlPBC8Ue7AOHd3sr6FNTSnIL9x7mxq~dZ1k~wdbtKuNWfEfRVjnsab-33vMtmZOFB14kse5KaBwcydBhjYqu4cM0ceAQ6YfhEKC3qQCnuSyp4M6QFQa-uwrKE~JTqUC5y3CcTirDUEMwEF06YlOP01UZshc6HDbGe2lBlIue4ejQCyD~KdgknVdJfbqRpgU9Yyk7D-bzU~6jUCSytzQbncpBDBiby5ffovCSXzRnuZCwLJeimvpQjX~0F1qaKHa8Q6IKdMTKYgWMkbnPji8H5IvB6phXbe9Njim6ux5YElfQ__"
          class=" w-100" alt="Lungs Image" height="400px">
      </header>
<section class="bg-white">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="head_text">
                    <h3 class="opinion_head">What is Lorem Ipsum?</h3>
                    <p class="fw-medium" style="font-size: 15px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum</p>
                </div>
                <div class="text-center mt-4 counter_bg py-3">
                    <div class="row">
                        <div class="col-md-6 col-12 mb-4" *ngFor="let counter of counters">
                          <div class="info-box d-flex align-items-center justify-content-center" [ngClass]="counter['id']==1?'par_counter':''">
                            <div class="icon-circle">
                              <img src="assets/images/{{counter.img}}" alt="{{ counter.label }}" width="142px" height="142px">
                            </div>
                            <div class="text-left ms-3">
                              <h5 class="counter" [attr.data-target]="counter.target">{{ counter.value }}+</h5>
                              <span class="counter-label">{{ counter.label }}</span>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="line line-left"></div>
                    <h3 class="free_sec text-center px-2">Free Second Opinion</h3>
                    <div class="line line-right"></div>
                </div>
                <div class="ms-3">
                    <form class="form-container py-4">
                        <div class="">
                            <input type="text" class="form-control p-0 pt-2 pb-2 mb-3" placeholder="Full Name">
                        </div>
                        <div class="">
                            <input type="text" class="form-control p-0 pb-2 pt-4 mb-3" placeholder="Phone Number">
                        </div>
                        <div class="">
                            <input type="text" class="form-control p-0 pb-2 pt-4 mb-3" placeholder="Email ID">
                        </div>
                        <div class="">
                            <select class="form-control p-0 pb-2 pt-4 mb-3">
                                <option selected disabled>Location</option>
                                <option>Kukkatpally</option>
                                <option>Kothapet</option>
                                <option>Vizag</option>
                                <option>Kurnool</option>
                            </select>
                        </div>
                        <div class="">
                            <select class="form-control p-0 pb-2 pt-4 mb-3">
                                <option selected disabled>Department</option>
                                <option>Cardio</option>
                                <option>Nephro</option>
                                <img src="assets/images/up_icon.svg" alt="">
                            </select>
                        </div>
                    </form>
                    <div class="text-center my-4 d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>