<app-header></app-header>
<header class="container-fluid p-0">
  <img
    src="https://img.freepik.com/free-photo/doctor-with-face-mask-against-covid19-discussing-with-nurse-hospital-waiting-area-disabled-senior-woman-wheelchair-waiting-examination-assistant-working-reception-computer_482257-6055.jpg?ga=GA1.1.900482830.1739181171&semt=ais_hybrid"
    class="w-100" alt="Lungs Image" height="400px">
</header>

<section class="text-center pt-4" style="background-color: #F1F1F1;">
  <ng-container>
    <div class="row g-3 location_section d-flex justify-content-center gap-5 img_div_hover">
      <div class="col-md-2 col-12 col-sm-12 rounded width_height image_hover" data-bs-toggle="modal"
        data-bs-target="#locationModal">
        <img class="gray-icon" src="assets/images/location_gray.svg" alt="">
        <img class="blue-icon" src="assets/images/location_blue.svg" alt="">
        <h6 class="mt-3">Our Locations</h6>
      </div>

      <!-- <div class="col-md-2 col-12 col-sm-12 border rounded width_height image_hover" (click)="ourDoctorsDetails()">
        <img class="gray-icon" src="assets/images/doctor_gray.svg" alt="">
        <img class="blue-icon" src="assets/images/doctor_blue.svg" alt="">
        <h6 class="mt-3">Our Doctors</h6>
      </div> -->
      <div class="col-md-2 col-12 col-sm-12 rounded width_height image_hover" data-bs-toggle="modal"
        data-bs-target="#appointmentModal">
        <img class="gray-icon" src="assets/images/calender_gray.svg" alt="">
        <img class="blue-icon" src="assets/images/calender_blue.svg" alt="">
        <h6 class="mt-3">Book an Appointment</h6>
      </div>
      <div class="col-md-2 col-12 col-sm-12 rounded width_height image_hover" (click)="openSecondOpinion()">
        <img class="gray-icon" src="assets/images/second_opeanion_gray.svg" alt="">
        <img class="blue-icon" src="assets/images/second opeanion_blue.svg" alt="">
        <h6 class="mt-3">Free Second
          Opinion </h6>
      </div>
      <div class="col-md-2 col-12 col-sm-12 rounded width_height image_hover" (click)="healthCheckup()">
        <img class="gray-icon" src="assets/images/health_checkup_gray.svg" alt="">
        <img class="blue-icon" src="assets/images/health_checkup_blue.svg" alt="">
        <h6 class="mt-3">Health Checkup</h6>
      </div>
    </div>
  </ng-container>
  <div class="pt-5 d-flex justify-content-center gap-3 flex-wrap text-center">
    <div class="d-flex justify-content-center gap-3 overflow-auto speciality-container">
      <div *ngFor="let spe of specialities; index as i" (click)="ourSpecialities(i)" class="speciality-item px-2 py-2 "
        [ngClass]="i === activeIndex?'active':'text_gray'">
        <span>{{ spe.spe_name }}</span>
      </div>
    </div>
  </div>
</section>

<section class="bg_lgt_blue">

  <!--************** Start Form Here OUR SPECIALITIES -->
  <div class="py-1" *ngIf="activeIndex === 0">
    <div class="text-center specialities-container container-fluid">
      <div class="title-container mb-4 py-3">
        <div class="line line-left"></div>
        <span class="title_text section_title">OUR SPECIALITIES</span>
        <div class="line line-right"></div>
      </div>

      <div class="row justify-content-center gx-3 gy-4 px-2 px-sm-4 pb-4">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1-7 d-flex justify-content-center"
          *ngFor="let data of our_specialities">
          <div class="speciality-card text-center" [ngClass]="{'active': selectedIndex === data.id}"
            (mouseenter)="hoveredCard = data.dep_name" (mouseleave)="hoveredCard = ''"
            (click)="goToDetails(data['id'])">
            <img class="speciality-img mt-2 mb-3" [src]="hoveredCard === data.dep_name ? data.img_blue : data.img"
              alt="" width="100" height="80" />
            <p class="speciality-text" [class.active-text]="hoveredCard === data.dep_name">{{ data.dep_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--************** Start End Here OUR SPECIALITIES -->

  <!-- Key Surgories code start from here -->


  <div class="" *ngIf="activeIndex==1">
    <div class="carousel-container pt-1 pb-5">
      <div class="carousel" [style.transform]="getTransform()">
        <div class="carousel-slide" *ngFor="let dep of depertments">
          <div class="text-center specialities-container">
            <div class="title-container py-3">
              <div class="line line-left"></div>
              <span class="title_text">KEY SURGERIES</span>
              <div class="line line-right"></div>
            </div>
            <div class="row align-items-center g-0 pt-4">
              <!-- IMAGE SECTION -->
              <div class="col-md-3 ms-md-4 col-12 d-flex justify-content-center mb-3 mb-md-0">
                <img class="border_radius" width="310" height="310" [src]="dep['img']" alt="surgery-image">
              </div>
            
              <!-- TEXT SECTION -->
              <div class="col-md-8 col-12 ps-md-3 spac_mobile">
                <h1 class="head_text text-start mt-md-0 mt-2">{{ dep['d_name'] }}</h1>
                <p class="key_surgeries">
                  {{ dep['d_description'] }}
                  <span class="p-0 m-0" *ngIf="showmoreactive_one">
                    It aims to provide high-quality treatment with cutting-edge technology and experienced doctors.
                  </span>
                  <button (click)="ReadMore()" class="btn btn-link text_lgt_primary fw-bold p-0">
                    {{ showmoreactive_one ? 'Read Less <<' : 'Read More >>' }}
                  </button>
                </p>
              </div>
            </div>
            
          </div>
        </div>
        <!-- <div class="d-flex justify-content-end align-items-center">
          <img src="assets/images/farward_gray.svg" alt="">
        </div> -->
      </div>
      <div class="carousel-buttons px-3">
        <img class="me-1" src="assets/images/{{index!=0?'back_black.svg':'back_gray.svg'}}" alt=""
          (click)="index!=0?updateCarousel('prev'):''">
        <img class="ms-1" src="assets/images/{{index === depertments.length - 1?'farward_gray.svg':'farward_black.svg'}}" alt=""
          (click)="index==depertments.length-1?'':updateCarousel('next')">
      </div>
    </div>
  </div>


  <!-- Key Surgories code end here -->

  <!-- Technologies code start from here -->
  <!-- <ng-container *ngIf="activeIndex == 2">
    <div class="swiper-wrapper-container py-5 position-relative">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-outline-dark" (click)="swiperPrev()">Previous</button>
        <button class="btn btn-outline-dark" (click)="swiperNext()">Next</button>
      </div>
      <swiper-container
        #swiperContainer
        [attr.slides-per-view]="slidesPerView"
        space-between="20"
        navigation="false"
        [attr.breakpoints]="breakpointsJson"
      >
        <swiper-slide *ngFor="let tech of technologies" (click)="onClickTechno()">
          <img [src]="tech.img" [alt]="tech.label" width="100%" class="img_rad" />
          <h3 class="ps-1 head_text">{{ tech.label }}</h3>
          <p class="ps-1">Lorem ipsum is simply dummy text of the printing industry.</p>
          <a href="#" class="text-black ps-1 read_btn p-0">Read More >></a>
        </swiper-slide>
      </swiper-container>
    </div>
  </ng-container> -->


  <ng-container *ngIf="activeIndex === 2">
    <div class="title-container mb-4 py-3">
      <div class="line line-left"></div>
      <span class="title_text">Technologies</span>
      <div class="line line-right"></div>
    </div>
    <div class="swiper-wrapper-container position-relative pb-4">
      <img
        src="assets/images/back_black.svg"
        class="custom-arrow left-arrow ms-5"
        [class.disabled]="!canSlidePrev"
        (click)="swiperPrev()"/>
  
      <img
        src="assets/images/farward_black.svg"
        class="custom-arrow right-arrow me-5"
        [class.disabled]="!canSlideNext"
        (click)="swiperNext()"/>
  
      <swiper-container
      #swiperContainer
      class="custom-swiper"
      [attr.slides-per-view]="slidesPerView"
      space-between="20"
      navigation="false"
      allow-touch-move="true"
      [attr.breakpoints]="breakpointsJson"
    >
      <swiper-slide *ngFor="let tech of technologies" class="tech-slide" (click)="onClickTechno()">
        <img [src]="tech.img" [alt]="tech.label" class="img-fluid img_rad" />
        <h3 class="ps-2 pt-2 tech-title">{{ tech.label }}</h3>
        <p class="ps-2 tech-desc">
          Lorem ipsum is simply dummy text of the printing industry.
        </p>
        <a class="text-black ps-2 pb-3 read_btn">Read More >></a>
      </swiper-slide>
    </swiper-container>
    
    </div>
  </ng-container>


  <!-- Technologies code end here -->
</section>


<!-- Why Choose Us Section -->
<section class="bg-white d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <!-- Doctor Image -->
      <!-- <div class="col-md-5 mb-md-0 ">
        <img src="assets/images/why_choose_us_femail.svg" alt="Doctors Team" class="img-fluid doctor-img-custom" />
      </div> -->
      <div class="col-md-4 mb-4 mb-md-0 position-relative">
        <img src="assets/images/indian-female-doctor-with-stethoscope-her-neck 2.png"
          alt="Doctors Team" class="img-fluid doctor-img-custom" />
      </div>

      <!-- Text and Counters -->
      <div class="col-md-8">
        <h4 class="choose_txt fw-bold mt-5">WHY CHOOSE OMNI HOSPITALS?</h4>
        <p class="text-justify">
          OMNI hospitals was established with an intention of being a comprehensive & cost-effective chain of hospitals
          that provides super-specialty services with warmth and care. Omni hospitals is owned by the healthcare division of Incor
          group.
          <span *ngIf="showMore">
            It aims to provide high-quality treatment with cutting-edge technology and experienced doctors.
          </span>
          <button (click)="toggleReadMore()" class="btn btn-link choose_txt fw-bold p-0">
            {{ showMore ? 'Read Less <<' : 'Read More >>' }}
          </button>
        </p>

        <!-- COUNTER GRID -->
        <div class="row text-center mt-4">
          <div
            class="col-6 col-md-6 mb-4 d-flex align-items-center justify-content-center"
            *ngFor="let counter of counters"
          >
            <div
              class="d-flex align-items-center justify-content-start w-100"
              style="min-height: 100px;"
            >
              <div class="icon-circle flex-shrink-0">
                <img class="why_choose_img"
                  src="assets/images/{{ counter.img }}"
                  alt="{{ counter.label }}"/>
              </div>
              <div
                class="text-start ms-3 d-flex flex-column justify-content-center"
                style="min-height: 80px;"
              >
                <h5 class="counter mb-0 why_choose_value" style="font-weight:900" [attr.data-target]="counter.target">
                  {{ counter.value }}+
                </h5>
                <span class="counter-label why_choose_label" style="font-weight:400" >{{ counter.label }}</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>




<!-- News And Media Start -->
<section>
  <div class="py-3 wow fadeInUp mx-3" data-wow-delay="0.1s">
    <div class="title-container mb-3 mt-1">
      <div class="line line-left"></div>
      <h1 class="news-title section_title">
        News & Media
      </h1>
      <div class="line line-right"></div>
    </div>

    <!-- Owl Carousel -->
    <div class="owl-carousel" #newsMediaCarousel>
      <div *ngFor="let news of newsMedia; let idx = index" class="news-item ">
        <div class="row g-0">
          <!-- Image Section (Full Width) -->
          <div class="col-12 d-flex align-items-center justify-content-center" (click)="onNewsCLick()">
            <img [src]="news.image" class="rounded news-image" width="250px" height="170px" alt="News Image"
              style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Dots -->
    <div class="d-flex justify-content-center mt-3">
      <span *ngFor="let news of newsMedia; let idx = index" (click)="goToNewsSlide(idx)" class="news-dot"
        [class.active]="idx === currentNewsIndex"></span>
    </div>
  </div>
</section>

<!-- News And Media End -->

<!-- Testimonial Section -->
<section style="background-color: #008FD526;">
  <div class="py-3 wow fadeInUp mx-3" data-wow-delay="0.1s">
    <div class="title-container mb-3 mt-1">
      <div class="line line-left"></div>
      <h1 class="" style="font-size:30px; font-family: 'roboto'; color: #000000; font-weight: 500;">Testimonials</h1>
      <div class="line line-right"></div>
    </div>
    <!-- Owl Carousel -->
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="owl-carousel" #owlCarousel>
          <div *ngFor="let testimonial of testimonials; let idx = index" class="testimonial-item card ms-2">
            <div class="row g-0">
              <!-- Video on left -->
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <app-video-player
                  [videoUrl]="testimonial.videoUrl"
                  [thumbnailUrlId]="testimonial.thumbnailUrl"
                  [(videoPlayed)]="testimonial.videoPlayed"
                  (videoStarted)="onVideoPlay(idx)"
                  (videoStopped)="onVideoPauseOrEnd(idx)">
                </app-video-player>
              </div>
        
              <!-- Text on right -->
              <div class="col-md-8  d-flex flex-column align-items-start justify-content-center ps-2 p-3">
                <h5 class="p-0 m-0 ms-2" style="font-size: 15px;">{{ testimonial.name }}</h5>
                <p class="m-0 py-2 ms-2" style="font-size: 10px; color: #828282;">{{ testimonial.text }}</p>
                <p class="m-0 ms-2" style="font-size: 10px; color: #000;">{{ testimonial.date }}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="owl-carousel" #patientowlCarousel>
          <div *ngFor="let testimonial of userTestimonials" class="testimonial_card card p-3 pb-0">
            <div class="d-flex align-items-center mb-2">
              <img [src]="testimonial.image" class="me-2 cicle_image" alt="User Image" style="object-fit: cover;">
              <div>
                <h6 class="mb-0" style="font-weight: 600;">{{ testimonial.name }}</h6>
                <small class="text-muted">{{ testimonial.location }}</small>
              </div>
              <span class="ms-auto fs-3 text-muted">“</span>
            </div>
            <p class="mb-0 pb-0" style="font-size: 13px; color: #333;">{{ testimonial.text }}</p>
          </div>
        </div>
      </div>
    </div>
 
    <!-- Pagination Dots -->
    <!-- <div class="d-flex justify-content-center mt-3">
      <span *ngFor="let testimonial of testimonials; let idx = index" (click)="goToSlide(idx)" class="dot"
        [class.active]="idx === currentIndex"></span>
    </div> -->
  </div>
</section>

<!-- Testimonial Section End -->

<!-- Blogs code start from here -->
<section>
  <div class="py-3 wow fadeInUp mx-3" data-wow-delay="0.1s">
    <div class="title-container mb-3 mt-1">
      <div class="line line-left"></div>
      <h1 class="blog-title" style="font-size: 30px; font-family: 'roboto'; color: #000000; font-weight: 500;">
        Blogs
      </h1>
      <div class="line line-right"></div>
    </div>

    <!-- Owl Carousel -->
    <div class="owl-carousel" #blogCarousel (click)="goToBlogs()">
      <div *ngFor="let blog of blogs; let idx = index" class="blog-item card">
        <!-- Image Section (Top) -->
        <img [src]="blog.image" class="blog-image rounded-top" alt="Blog Image">

        <!-- Description Section (Bottom) -->
        <div class="blog-content">
          <h5 class="blog-title">{{ blog.title }}</h5>
          <p class="blog-text">{{ blog.description }}</p>
          <p class="blog-date p-0 m-0">{{ blog.date }}</p>
          <a href="" class="blog-read-more p-0 m-0"
            style="color: #000000 !important; font-size: 10px; font-weight: 500; font-family: 'roboto';"><span>Read
              More</span></a>
        </div>
      </div>
    </div>

    <!-- Pagination Dots -->
    <div class="d-flex justify-content-center mt-3">
      <span *ngFor="let blog of blogs; let idx = index" (click)="goToBlogSlide(idx)" class="blog-dot"
        [class.active]="idx === currentBlogIndex"></span>
    </div>
  </div>
</section>
<!-- Blogs code End here -->


<!-- FAQ Section -->
<section class="mt-3 mrgin_bottm bg-white py-3">
  <div class="title-container">
    <div class="line line-left"></div>
    <span class="title_text">FREQUENTLY ASKED QUESTIONS</span>
    <div class="line line-right"></div>
  </div>
  <!-- <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2> -->
  <div class="container my-5">
    <div class="accordion" id="faqAccordion">

      <!-- FAQ Item 1 -->
      <div class="accordion-item ps-3">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed accordion_head" [ngClass]="" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            How Many OMNI Hospitals Are There In India?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse padding_top" aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body padding_top">
            OMNI Hospitals is a prominent healthcare organization with a network of 06 healthcare facilities. As one of
            the largest hospital chains in India, OMNI Hospitals offers a wide range of medical services across various
            specialties.
          </div>
        </div>
      </div>

      <!-- FAQ Item 2 -->
      <div class="accordion-item ps-3">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed accordion_head" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How Many OMNI Hospitals Are There In India?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body padding_top">
            OMNI Hospitals operates 06 hospitals in India, providing top-tier healthcare services in multiple locations.
          </div>
        </div>
      </div>

      <!-- FAQ Item 3 -->
      <div class="accordion-item ps-3">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed accordion_head" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How Many OMNI Hospitals Are There In India?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body padding_top">
            OMNI Hospitals is known for its high-quality medical care and has 06 facilities across India.
          </div>
        </div>
      </div>

      <!-- FAQ Item 4 -->
      <div class="accordion-item ps-3">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed accordion_head" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How Many OMNI Hospitals Are There In India?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body padding_top">
            The OMNI Hospital chain comprises 06 medical facilities, ensuring healthcare accessibility in various
            regions.
          </div>
        </div>
      </div>

      <!-- FAQ Item 5 -->
      <div class="accordion-item ps-3">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed accordion_head" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            How Many OMNI Hospitals Are There In India?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#faqAccordion">
          <div class="accordion-body padding_top">
            OMNI Hospitals has 06 locations across India, delivering specialized medical treatments.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------- Side Fixed Buttons ------------>
<div class="fixed_buttons" *ngIf="false">
  <div class="book_app_button bg_green d-flex align-items-center">
    <img src="assets/images/book_an_appointment.png" style="rotate: 90deg;" width="24px" height="24px">
    <button class="rotate btn-lg custom-btns bg_green"> BOOK <br> AN APPOINTMENT</button>
  </div>
  <div class="bg_blue d-flex align-items-center">
    <img src="assets/images/call_icon.png" style="rotate: 90deg;" width="24px" height="24px">
    <button for="" class="bg_blue">CALL FOR <br> ENQUARY</button>
  </div>
</div>



<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="row pt-4">
        <div class="col-md-11 col-11 col-sm-10 col-xs-10 d-flex align-items-center justify-content-center">
          <div class="line line-left ms-5"></div>
          <div class="">
            <span class="title_text text-center px-2">Our Locations</span>
          </div>
          <div class="line line-right"></div>
        </div>
        <div class="col-md-1 col-1 d-flex col-sm-2 col-xs-2 align-items-center justify-content-start p-0 m-0">
          <button class="" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row g-3">
            <div class="col-6 col-md-4" *ngFor="let details of locations_details; index as l">
              <div class="text-center">
                <img src="assets/locations/{{details['img']}}" alt="Kothapet">
                <p class="border_prop py-2" style="background-color: #008FD5 !important;">{{details['location_name']}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade custom-modal" id="appointmentModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <div class="line line-left"></div>
          <span class="px-2 book_text" style="color: #008FD5; font-family: 'roboto'; font-weight: 500;">BOOK AN APPOINTMENT</span>
          <div class="line line-right"></div>
        </div>
        <button type="button" class="btn-close btn_close" data-bs-dismiss="modal"></button>
      </div>


      <div class="form-container rounded">
        <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fullName" placeholder=" " required>
            <label for="fullName" class="ps-0">Full Name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="phoneNumber" placeholder=" " required>
            <label for="phoneNumber" class="ps-0">Phone Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder=" " required>
            <label for="email" class="ps-0">Email ID</label>
          </div>

          <div class="mb-3 select-container">
            <select class="form-control ps-0" id="location" (click)="locationToggle(1)">
              <option value="" disabled selected>Location</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Bangalore">Bangalore</option>
              <option value="Mumbai">Mumbai</option>
            </select>
            <img src="assets/images/{{direction_icon?'down_icon.svg':'up_icon.svg'}}" class="select-icon"
              id="location-icon">
          </div>

          <div class="select-container">
            <select class="form-control ps-0" id="department" (click)="locationToggle(2)">
              <option value="" disabled selected>Department</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Neurology">Neurology</option>
              <option value="Orthopedics">Orthopedics</option>
            </select>
            <img src="assets/images/{{depertment_icon?'down_icon.svg':'up_icon.svg'}}" class="select-icon"
              id="location-icon">
          </div>
        </form>
      </div>
      <button type="submit" class="btn btn_outline_dark submit-btn">Submit</button>
    </div>
  </div>
</div>


<!-- <div class="row bg_footer_blue text-white position-relative py-4">
  <div class="col-md-4 d-flex justify-content-center">
    <img class="z_index img-fluid" src="assets/images/call_center.svg" alt="">
  </div>
  <div class="col-md-8">
    <div class="text-center text-md-start">
      <h1 class="reach_out_txt">Reach Out To Us!</h1>
    </div>
    <div class="d-flex flex-column flex-md-row gap-3">
      <div class="text-center text-md-start">
        <p>Contact our toll-free number:<br>
          <span class="cont_details">888 0101 000</span><br>
          <span class="">(24x7 Emergency)</span>
        </p>
      </div>
      <div class="border_line d-none d-md-block"></div>
      <div class="text-center text-md-start">
        <p>Get in touch Email:<br>
          <span class="cont_details">{{omni_mail_id}}</span>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div class="footer-top py-4 px-2 px-md-5 text-white mb-1">
  <div class="container">
    <div class="row align-items-center g-2">
      <div class="col-12 col-md-auto mb-2 mb-md-0">
        <h5 class="mb-0 fw-bold">Enquire Now</h5>
      </div>
      <div class="col-12 col-md">
        <input type="text" class="form-control rounded-pill" placeholder="Name*" />
      </div>
      <div class="col-12 col-md">
        <input type="text" class="form-control rounded-pill" placeholder="Phone Number*" />
      </div>
      <div class="col-12 col-md">
        <input type="email" class="form-control rounded-pill" placeholder="Email ID*" />
      </div>
      <div class="col-12 col-md-auto">
        <button class="btn btn-light rounded-pill text-white px-4 sub_btn">Submit</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>